<div class="flex items-center justify-center min-h-full bg-base-200">
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title justify-center mb-4 text-primary">
        <fa-icon [icon]="faSignInAlt" class="mr-2"> </fa-icon>
        {{ "Auth.Login" | translate }}
      </h2>
      <form (submit)="login()">
        <div class="form-control">
          <label class="label">
            <span class="label-text"> {{ "Auth.Email" | translate }}</span>
          </label>
          <input
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder=" {{ 'Auth.Placeholder.Email' | translate }}"
            class="input input-bordered"
            required
          />
        </div>
        <div class="form-control mt-4">
          <label class="label">
            <span class="label-text">{{ "Auth.Password" | translate }}</span>
          </label>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="{{ 'Auth.Placeholder.Password' | translate }}"
            class="input input-bordered"
            required
          />
        </div>
        <div class="form-control mt-6">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="password === '' || email === ''"
          >
            <fa-icon [icon]="faSignInAlt" class="mr-2"> </fa-icon>
            {{ "Auth.Login" | translate }}
          </button>
        </div>
      </form>
      <div class="divider">{{ "Auth.Or" | translate }}</div>
      <div class="form-control">
        <button routerLink="/register" class="btn btn-outline">
          <fa-icon [icon]="faUserPlus" class="mr-2"> </fa-icon>
          {{ "Auth.GoToRegistration" | translate }}
        </button>
      </div>
      <div
        *ngIf="loginResult$ | async as errorMessage"
        class="alert alert-error mt-4"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current shrink-0 h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span>{{ errorMessage }}</span>
      </div>
    </div>
  </div>
</div>
